[submodule "aws-demo-form"]
	path = aws-demo-form
	url = https://github.com/Drew-Kimberly/aws-demo-form
[submodule "aws-udagram"]
	path = aws-udagram
	url = git@github.com:Drew-Kimberly/aws-udagram.git
[submodule "aws-image-filter"]
	path = aws-image-filter
	url = git@github.com:Drew-Kimberly/aws-image-filter.git
[submodule "aws-udagram-frontend"]
	path = aws-udagram-frontend
	url = git@github.com:Drew-Kimberly/aws-udagram-frontend.git
[submodule "aws-udagram-restapi"]
	path = aws-udagram-restapi
	url = git@github.com:Drew-Kimberly/aws-udagram-restapi.git
